// global 
@font-face {
  font-family: 'metropolis';
  src: url('/fonts/metropolis-regular-webfont.woff2') format('woff2'),
    url('/fonts/metropolis-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'metropolis';
  src: url('/fonts/metropolis-medium-webfont.woff2') format('woff2'),
    url('/fonts/metropolis-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'metropolis';
  src: url('/fonts/metropolis-semibold-webfont.woff2') format('woff2'),
    url('/fonts/metropolis-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'metropolis';
  src: url('/fonts/metropolis-bold-webfont.woff2') format('woff2'),
    url('/fonts/metropolis-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'metropolis';
  src: url('/fonts/metropolis-extrabold-webfont.woff2') format('woff2'),
    url('/fonts/metropolis-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'metropolis';
  src: url('/fonts/metropolis-black-webfont.woff2') format('woff2'),
    url('/fonts/metropolis-black-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-1: #071840;

  --color-2: white;
  --color-2-dimmed: #fdfdff;
  --color-2-darker: #E5ECF9;
  --color-2-dark: #5B6F8C;

  --color-3-light: #F4F8FE;
  --color-3-lighter: #E5F6FF;
  --color-3: #0252fc;

  --max-width: 135rem;
  --max-post-width: 90rem;
  --horizontal-padding: 2rem;
  --horizontal-negative-padding: -2rem;
  --navbar-height: 8rem;
  --border-radius: 15px;

  --shadow: var(--color-2-darker) 0 5px 20px 0;
  --shadow-stronger: var(--color-2-darker) 0 15px 18px 0;
  --ck-color-base-border: rgba(229,231,235,1);
}

html {
  box-sizing: border-box;
  font-size: 50%;
}

body {
  position: relative;
  display: block;
  margin: 0;
  background-color: var(--color-2-dimmed);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  color: var(--color-1);
  padding: 0 !important;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'metropolis', sans-serif;
}

[hidden] {
  display: none !important;
}

.layout-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
  width: 100%;
  max-width: var(--max-width);
  display: block;
  margin: 0 auto;
  padding: calc(var(--navbar-height) + 4rem) var(--horizontal-padding) 2.5rem var(--horizontal-padding);
  flex-grow: 1;
}

button,
input {
  border: none;
  background: none;
  font-size: unset;
}

h1 {
  margin: 0 0 2rem 0;
  font-size: 3.5rem;
}

h2 {
  margin: 0;
  font-size: 2.5rem;
}

h3 {
  margin: 0 0 4rem 0;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-2-dark);
}

h4 {
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-2-dark);
}

h5 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--color-2-dark);
}

h6 {
  margin: 0 0 1rem 0;
  font-size: 1.6rem;
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid var(--color-2-darker);
}

a {
  background-color: transparent;
  transition: color 0.2s;
  text-decoration: none;
  color: var(--color-1);
}

a:active,
a:focus {
  color: var(--color-1);
}

b,
strong {
  font-weight: bolder;
}

nav {
  padding: 0 var(--horizontal-padding);
}

img {
  border-style: none;
}

iframe {
  border: none;
}

p {
  line-height: 1.5;
  color: var(--color-2-dark);
}

p,
ul {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

li {
  list-style-type: none;
}

@media screen and (min-width: 350px) {
  html {
    font-size: 55%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 62.5%;
  }
}

.personal-image {
  text-align: center;
}

.personal-image input[type="file"] {
  display: none;
}

.personal-figure {
  position: relative;
  width: 120px;
  height: 120px;
  margin-left: 0;
}

.personal-avatar {
  cursor: pointer;
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  transition: all ease-in-out .3s;
}

.personal-avatar:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.personal-figcaption {
  cursor: pointer;
  position: absolute;
  top: 0px;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all ease-in-out .3s;
}

.personal-figcaption:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, .5);
}

.personal-figcaption>img {
  margin-top: 32.5px;
  width: 50px;
  height: 50px;
}


// editor
.sun-editor{
    border: 0 !important;
}
.se-btn-tray{
    border: 1px solid var(--ck-color-base-border) !important; 
    background:rgba(245,247,250,1) !important;
    border-radius: 10px !important;
}
.se-toolbar.sun-editor-common{
    outline: none !important;
}
.se-placeholder{
    font-size: 2em !important;
}

.se-toolbar-sticky{
    top: 85px !important;
}

.se-menu-list button[data-command='preview']{
    color: #1675e0 !important;
}