@import './mixins.scss';
@import './overrides.scss';
@import './global.scss';
@import './nightOwl.scss';
@import '~rsuite/dist/styles/rsuite-default.css';


.layout-logo {
    font-size: 2rem;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    img{
        width: 73px;
    }
    b {
        display: none;
    }
    @media screen and (min-width: 768px) {
        justify-content: unset;
        b {
            display: unset;
        }
    }
}

.layout-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    margin: 0 auto;
    border-bottom: 1px solid var(--color-2-darker);
    background-color: var(--color-2);
    box-shadow: var(--shadow);
    z-index: 99;
}

.btn-publish{
    height: auto !important;
    font-size: 1.5em;
    color: rgba(41,98,255,1) !important;
    border-color: rgba(41,98,255,1) !important;
    svg{
        margin: auto 10px auto -24px;
        path{
            stroke: rgba(41,98,255,1) !important;
        }
    }
}

.layout-container {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.layout-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: auto;
    * {
        font-size: 1.8rem;
    }

    li {
        margin-right: 3rem;
        
        &:last-of-type {
            margin-right: 0;
        }
    }
}

.layout-footer {
    width: 100%;
    padding: 10rem 0 5rem 0;
}

.layout-wrapper {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 var(--horizontal-padding);
    text-align: center;
}

.layout-info {
    width: 80%;
    margin-bottom: 5rem;
    padding-right: 0;
}

.layout-description {
    margin: 2rem 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.layout-links {
    width: 100%;
    margin-bottom: 5rem;

    a:hover {
        color: var(--color-3);
    }

    h6 {
        margin-bottom: 2rem;
    }

    li {
        margin-bottom: 1rem;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) {
    .layout-info {
        width: 40%;
        padding-right: 10%;
    }

    .layout-links {
        width: 15%;
    }

    .layout-info,
    .layout-links {
        margin-bottom: 0;
    }
    .layout-wrapper {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }
}

.layout-social {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;

    > * {
        margin-right: 1.5rem;
    }

    > *:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 768px) {
    .layout-social {
        justify-content: flex-start;
    }
}

/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: var(--color-3);

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px var(--color-3), 0 0 5px var(--color-3);
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: var(--color-3);
    border-left-color: var(--color-3);
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}